body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-image {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
}

.content-box {
    width: 70%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-top: 14px;
    padding: 20px;
    height: 120px; 
    position: relative;
    border-radius: 5px; 
}

.top-bar {
    width: 100%;
    height: 20px; 
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0; 
}

.label {
    text-align: left;
    margin-top: 15px; 
    color: #6173a2; 
    display: block;
    margin-bottom: 5px;
    margin-left: 5%; 
    font-size: 14px;
}

.text-area {
    width: 90%;
    height: 30px; 
    border: 1px solid #c0c7da;
    outline: none;
    resize: none;
    border-radius: 5px; 
    margin: auto;
    display: block;
    color: #6173a2;
    padding: 3px;
}

.button {
    width: 45%; /* تقليل عرض الزر */
    height: 30px; 
    border: none;
    outline: none;
    border-radius: 5px;
    margin: auto;
    display: block;
    margin-top: 10px; /* تقليل المسافة بين خانة الكتابة والزر */
    background: linear-gradient(to left, #245da5, #5360a3); 
    color: white;
    cursor: pointer;
    margin-left: 3%; /* جعل الزر يبدأ من بداية خانة الكتابة */
    padding: 0 4px; /* جعل النص داخل الزر يبعد عن الحواف بمقدار 4 بكسل */
    
}

.button:active {
    background: linear-gradient(to left, #5360a3, #245da5); 
}

/* تنسيق النافذة */
.modal {
    display: none; /* إخفاء النافذة في البداية */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffebcd; /* خلفية برتقالية فاتحة */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.close {
    color: red; /* لون أحمر */
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.ban-icon {
    width: 50px;
    height: 50px;
    margin-top: 30px; /* وضع الأيقونة تحت الجملة */
    padding: 30px;
}

.modal-body p {
    color: orange; /* لون برتقالي للنص */
    margin: 10px;
    font-size:20px;
}
